.note::before {
  content: "";
  position: absolute;
  /* top: 0;
  left: 0; */
  width: calc(100% + 3px);
  height: calc(100% + 3px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    250px circle at var(--x) var(--y),
    #00dc82 0,
    transparent 100%
  );

  @apply rounded-xl;
}

.note .mask {
  position: absolute;
  inset: 3px;
}
